{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="auther" content="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- google 日本語フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="page">
        <!-- Navigation -->
        <nav>
            <div>
                <a href="{% url 'diary:index' %}">
                <h1>PRIVATE DIARY</h1>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'diary:inquiry' %}">お問い合わせ</a></li>
{% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">Log out</a></li>
{% else %}     
                    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                    <li><a href="{% url 'account_login' %}">Log in</a></li>
{% endif %}
                </ul>
            </div>
        </nav>
        <!-- Header -->
        {% block header %}{% endblock %}

        <!--メッセージブロック-->
        {% if messages %}
        <div class="messages success">
            <ul>
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Contents -->
        {% block contents %}{% endblock %}
        
        <!-- Footer -->
        <footer>
            <div>Copyright &copy; Private Diary inc. 2024</div>
        </footer>
    </div>
    <!-- javascript -->
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>