{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="auther" content="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- google 日本語フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="page">
        <!-- Navigation -->
        <nav>
            <div>
                <a href="index.html">
                <h1>PRIVATE DIARY</h1>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">お問い合わせ</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        {% block header %}{% endblock %}
        <!-- Contents -->
        {% block contents %}{% endblock %}
        <!-- Footer -->
        <footer>
            <div>Copyright &copy; Private Diary inc. 2024</div>
        </footer>
    </div>
    <!-- javascript -->
    <script src="index.js"></script>

</body>
</html>